@use 'reset';
@use 'variables';
@use 'media';
@import 'mixins';

body {    
  background-color: #f5f6fa;
}

li {    
  list-style: none;
}

@include container;

header {    
  background-color: variables.$primaryColor;    
  position: sticky;    
  top: 0;    
  left: 0;
}

header .container {    
  @include flex-center(space-between);
  padding: 16px 0;
}

@include menu-style;

@include section-padding;

.products {    
  margin-top: 40px;

  @include grid(3, 1%, 4%);
  
  width: 100%;
}

h2 {    
  font-size: 2em;    
  text-align: center;    
  margin-bottom: 1em;
}

.products {    
  @include grid(auto-fit, minmax(180px, 1fr));
  gap: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item {    
  @include product-item;

}
