@mixin menu-style {
    .menu {
      display: flex;
    }
    .menu li {
      font-weight: bold;
      margin-left: 24px;
    }
    .menu li a {
      color: #fff;
      text-decoration: none;
    }
  }


  @mixin container {
    .container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
    }
  }
  

  @mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin section-padding {
    section {
      padding: 56px 0;
    }
  }
  

  @mixin grid($columns: 3, $column-gap: 1%, $row-gap: 4%) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $column-gap;
    row-gap: $row-gap;
  }
  

  @mixin product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    
    img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 1em;
    }
  
    h4 {
      margin: 0.5em 0;
      font-size: 1.2em;
      color: #333;
    }
  
    p {
      font-size: 0.9em;
      color: #777;
    }
  
    .product-button {
      display: block;
      background-color: #44bd32;
      color: #f4f4f4;
      text-align: center;
      padding: 8px;
      border-radius: 8px;
      margin-top: 8px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #4cd137;
      }
    }
  }
  